
/*---------signup-step-------------*/
.signup-step-container{
	padding: 80px 0px;
	padding-bottom: 10px;
}
/*----------step-wizard------------*/
.wizard .nav-tabs {
position: relative;
margin-bottom: 0;
border-bottom-color: transparent;
display: flex;
justify-content: space-between;
}

.wizard > div.wizard-inner {
position: relative;
text-align: center;
margin-bottom: 50px;
}

.connecting-line {
    height: 2px;
    background: #e0e0e0;
    position: absolute;
    width: 100%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 15px;
    z-index: 1;
}

.wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    border: 0;
    border-bottom-color: transparent;
}

span.round-tab {
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    border-radius: 50%;
    background: #fff;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 14px;
    color: #000000;
    font-weight: 500;
    border: 1px solid #ddd;
}
span.round-tab i{
    color:#555555;
}
.wizard li.active span.round-tab {
    background: #0db02b;
    color: #fff;
    border-color: #0db02b;
}
.wizard li.active span.round-tab i{
    color: #5bc0de;
}
.wizard .nav-tabs > li.active > a i{
	color: #0db02b;
}

.wizard li:after {
    content: " ";
    position: absolute;
    left: 50%;
    opacity: 0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: red;
    transition: 0.1s ease-in-out;
}

.wizard .nav-tabs > li a {
    width: 30px;
    height: 30px;
    margin: 20px auto;
    border-radius: 100%;
    padding: 0;
    background-color: transparent;
    position: relative;
    top: 0;
}

.wizard .nav-tabs > li a i{
	position: absolute;
    top: -5px;
    font-style: normal;
    font-weight: 400;
    white-space: nowrap;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px;
    font-weight: 700;
    color: #000;
}

.wizard .nav-tabs > li a:hover {
    background: transparent;
}

.wizard .tab-pane {
    position: relative;
    padding-top: 0px;
}


.wizard h3 {
    margin-top: 0;
}
.prev-step, .next-step, .submit-form-1, .submit-form-2 {
    margin-top: 30px;
}

.step-head{
    font-size: 20px;
    text-align: center;
    font-weight: 500;
    margin-bottom: 20px;
}

.list-inline li{
    display: inline-block;
}
.pull-right{
    float: right;
}

@media (max-width: 767px)
{
    .wizard .nav-tabs > li a i {
    display: none;
    }
    span.round-tab {
    font-size: 11px;
    color: #0e214b;
    }
    .signup-step-container {
    margin: 0;
    padding-top: 10px;
    }
}

table td {
vertical-align: middle;
text-align: left;
row-gap: 10px;
}

table {
width: 100%;
}